<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- STEP 1: This is the imports for Bootstrap CSS and Javascript Code-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    <title></title>
  </head>
  <body>
    <!-- STEP 2: Set up the navigation bar as uunordered list-->
    <ul class='nav'>
    <!-- STEP 3: Each element of the unordered list we can attacha link in the href reference -->

      <li class='nav-link'>
        <a href="#">Home</a>
      </li>

      <li class='nav-link'>
        <a href="#">Info</a>
      </li>
    <!-- STEP 4: this ones are coming from other blueprint objects-->
      <li class='nav-link'>
        <a href="#">Log out</a>
      </li>

      <li class='nav-link'>
        <a href="#">Account</a>
      </li>

      <li class='nav-link'>
        <a href="#">Create Post</a>
      </li>

      <li class='nav-link'>
        <a href="#">Log in</a>
      </li>

      <li class='nav-link'>
        <a href="#">Register</a>
      </li>

    </ul>
    <!-- STEP 5 : Create a DIV with all the other data-->
    <div class="container">
      {% block content%}
      {% endblock %}
    </div>


  </body>
</html>
