<!-- Extending My base.html file  -->
{% extends "base.html" %}
{% block content %}

<div class="bg-grey">
  <h1> Sign up Page # 1 </h1>
  <p>We are trying to see if this is the best sign up page using a multi-armed bandit</p>
</div>

<div class="bg-grey">
  <h1> Sign up form</h1>
</div>

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}
    {{ form.username.label }} {{ form.username() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}
    {{ form.submit() }}
</form>


{% endblock %}
