.registration {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  box-sizing: inherit;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.AuthFormContainer {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  display: flex;
  height: 100%;
}

.AuthFormWrapper {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  flex: 1 1 66.66667%;
  overflow-y: auto;
}

.AuthForm {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  max-width: 42.5rem;
  margin: 0 auto;
  padding: 0 8px 2em;
}

.NavContainer {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 9.7%;
  padding: 0 8px;
}

.Row {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  display: flex;
  padding: .4rem 0;
  flex-direction: row;
  margin-left: -1rem;
  width: calc(100% + 2rem);
}

.Column {
  --color-azure: #1b7fde;
  --color-blue-dark: #174bd2;
  --color-blue-light: #5387fa;
  --color-blush: #ffd2e6;
  --color-brand-blue: #1e64f0;
  --color-brick: #aa0c16;
  --color-bruise: #6446af;
  --color-bubblegum: #ffedf5;
  --color-cobalt: #0834a6;
  --color-coral: #ff6962;
  --color-cotton-candy: #c7e7ff;
  --color-deep-purple: #462d8c;
  --color-emf: #d73728;
  --color-fire-engine: #fa4040;
  --color-forest: #025050;
  --color-gray-0: #f8f8f9;
  --color-gray-1: #ebebed;
  --color-gray-2: #dedee1;
  --color-gray-3: #c4c4c8;
  --color-gray-4: #a3a3ab;
  --color-gray-5: #62626c;
  --color-gray-6: #37373c;
  --color-gray-7: #1f1f22;
  --color-green: #41d0a3;
  --color-green-dark: #00c185;
  --color-green-light: #81e0c1;
  --color-harper: #000;
  --color-heather: #f5f2ff;
  --color-ice: #e9f5ff;
  --color-lenny: #b45100;
  --color-marshmallow: #fff;
  --color-morning: #bed8fb;
  --color-moss: #047063;
  --color-mulberry: #7d074d;
  --color-navy: #07207d;
  --color-night: #0c0c0e;
  --color-ocean: #0d407a;
  --color-orchid: #e6dffe;
  --color-peach: #ffecec;
  --color-peacock: #155fac;
  --color-periwinkle: #87acff;
  --color-pickles: #00966e;
  --color-pink: #ff74b4;
  --color-pink-dark: #fa4fa0;
  --color-pink-light: #ffa2cb;
  --color-powder: #e2effd;
  --color-purple: #b89fff;
  --color-purple-dark: #a07fff;
  --color-purple-light: #cfbfff;
  --color-raspberry: #d63280;
  --color-rock: #7b7b87;
  --color-salmon: #ffcaca;
  --color-sea-foam: #e6f9f3;
  --color-sky-blue: #58b7ff;
  --color-sky-blue-dark: #219fff;
  --color-sky-blue-light: #91cfff;
  --color-slate: #4a4a51;
  --color-snozzberry: #aa1460;
  --color-sunburn: #ff9a9a;
  --color-toast: #fff8e6;
  --color-tofu: #ffefc8;
  --color-violet: #8260e8;
  --color-waffles: #ffdf96;
  --color-willow: #bfefe0;
  --color-wine: #860010;
  --color-yellow: #fabe1e;
  --color-yellow-dark: #dc9600;
  --color-yellow-light: #ffce5a;
  --color-zephyr: #be7200;
  --color-text-heading: #0c0c0e;
  --color-text-copy: #37373c;
  --color-text-supporting: #1e64f0;
  --base-border-radius: 5;
  --button-border-radius: 5;
  --button-size-tiny-height: 39;
  --button-size-small-height: 45;
  --button-size-regular-height: 60;
  --button-size-large-height: 75;
  --button-text-family: Inter;
  --button-text-weight: 600;
  --text-family-heading-main: Walsheim;
  --text-family-heading-fallback: Georgia, serif;
  --text-family-copy-main: Inter;
  --text-family-copy-fallback: Helvetica, Arial, sans-serif;
  --text-size-base-heading-big: 54;
  --text-size-base-heading-medium: 40;
  --text-size-base-heading-small: 24;
  --text-size-base-heading-supporting: 18;
  --text-size-base-copy-big: 24;
  --text-size-base-copy-medium: 20;
  --text-size-base-copy-small: 16;
  --text-size-base-copy-body: 18;
  --text-size-mobile-heading-big: 36;
  --text-size-mobile-heading-medium: 28;
  --text-size-mobile-heading-small: 22;
  --text-size-mobile-heading-supporting: 16;
  --text-size-mobile-copy-big: 20;
  --text-size-mobile-copy-medium: 18;
  --text-size-mobile-copy-small: 16;
  --text-size-mobile-copy-body: 16;
  --text-line-height-base-heading-big: 1.25;
  --text-line-height-base-heading-medium: 1.2;
  --text-line-height-base-heading-small: 1.33;
  --text-line-height-base-heading-supporting: 1.33;
  --text-line-height-base-copy-big: 1.5;
  --text-line-height-base-copy-medium: 1.6;
  --text-line-height-base-copy-small: 1.5;
  --text-line-height-base-copy-body: 1.78;
  --text-line-height-mobile-heading-big: 1.22;
  --text-line-height-mobile-heading-medium: 1.29;
  --text-line-height-mobile-heading-small: 1.27;
  --text-line-height-mobile-heading-supporting: 1.5;
  --text-line-height-mobile-copy-big: 1.6;
  --text-line-height-mobile-copy-medium: 1.56;
  --text-line-height-mobile-copy-small: 1.5;
  --text-line-height-mobile-copy-body: 1.75;
  --text-transform-big: none;
  --text-transform-medium: none;
  --text-transform-small: none;
  --text-transform-supporting: uppercase;
  --text-transform-body: none;
  --text-kerning-base-supporting: 1;
  --text-kerning-mobile-supporting: 0.89;
  --text-vertical-spacing-heading-big: 24;
  --text-vertical-spacing-heading-medium: 24;
  --text-vertical-spacing-heading-small: 18;
  --text-vertical-spacing-heading-supporting: 18;
  --text-vertical-spacing-copy-big: 36;
  --text-vertical-spacing-copy-medium: 36;
  --text-vertical-spacing-copy-small: 24;
  --text-vertical-spacing-copy-body: 24;
  --text-weight-big: 300;
  --text-weight-medium: 300;
  --text-weight-small: normal;
  --text-weight-supporting: 700;
  --text-weight-body: 400;
  --body-color: var(--color-gray-7);
  --faq-height: 77.5rem;
  color: var(--body-color);
  font-family: Interstate, Walsheim, sans-serif;
  font-feature-settings: "kern"1, "liga"1, "ss01"1, "ss04"1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: inherit;
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: inherit;
  padding: 0 1rem;
}
